body{
    background-image: url(https://i2.wp.com/lh5.googleusercontent.com/proxy/WfxdcQzuh4hUZW_eYoxEGD0Fknjmr4Udvw4oGpA3n-lVAoLlIFPDv8ZOYD1ZieSmjx5JDOVkanBTln-qweRC5lwtah3zMzJtMSKKDv3Fe1KR867NXc-IGsDX23vB9aRAEkXdQw=w1200-h630-p-k-no-nu);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
}
.judul{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #ccc;
    padding: 10px;
    margin: 13px;
}
.book{
    dispay: flex;
    align-items: center;
}
.book h3{
    font weight: 500;
    align-items: center;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #f9f9f9;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link span{
    font-size: 18px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}